$orange-gradient: #FF9900;
$red-gradient: #FF0000;

$red-strawberry: #E95C5C;
$yellow-lemon: #FFD82F;
$orange-pear: #EE6B4E;

$orange-accent: #FF8E00;
$baige-accent: #F3EDD5;
$brown-accent: #CCC6B2;
$dark-orange-accent: #D97900;

$grey-font: rgba(0, 0, 0, 0.28);
$black-font: #2F2F2F;
